@charset "utf-8";
@import url('layout_base.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0; padding: 0;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    font-size: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*align, border, input*/
img, fieldset, a{border: none;}
img{vertical-align: middle;}
table, thead, tbody, tfoot{
    border-collapse: collapse;
    border-spacing: 0;
    border: 0 none;
}
ol,ul,li{list-style: none;}
address, em{font-style: normal;}
input, select, textarea, button, form img, label{
    vertical-align: middle;
}
a{text-decoration: none;}
a:link{color: #444;}
a:visited{color: #444;}
a:hover{color: #444;}
a:focus{color: #444;}
/*common*/
html{height: 100%;}
body{height: 100%; font-family: 'Malgun Gothic','맑은 고딕', sans-serif; font-size: 16px; letter-spacing: -1px; color: #444; white-space: normal; word-wrap: break-word;}
input, select, text-area{box-sizing: border-box; font-family: 'Malgun Gothic','맑은 고딕', sans-serif; letter-spacing: -1px; color: #444; -webkit-appearance: none;}
textarea{box-sizing: border-box; padding: 10px; border: 1px solid #ccc;}
input, textarea{-webkit-appearance: none; border-radius: 0;}
*{-webkit-text-size-adjust: none;}
.dp_nene{display:none;}
.hdd, legend{font-size: 0; width: 0; height: 0; line-height: 0; text-indent: -9999px; overflow: hidden; visibility: hidden; position: absolute; left: 0; top: 0;}
caption{font-size: 0; width: 0; height: 0; line-height: 0; text-indent: -9999px; overflow: hidden;}
.clear:after{content:""; display: block; clear: both;}
hr{display: none;}


/*====================PC====================*/

/* top_menu */
#top_wrap{width: 100%; height: 40px; background-color: #212121;}
#top_wrap #top_menu{width: 1226px; margin: 0 auto;}
#top_wrap #top_menu .relateSite{float: left; margin-left: 20px;}
#top_wrap #top_menu .sign{float: right; margin-right: 20px;}
#top_wrap #top_menu ul li{float: left; height: 40px; line-height: 40px; font-size: 12px; margin: 0; position: relative;}
#top_wrap #top_menu ul li:first-child::after{content: "|"; color: #b0b0b0; padding: 0 20px; position: relative; top: -1px;}
#top_wrap #top_menu a{color: #b0b0b0;}

/* gnb_slide_wrap */
#gnb_slide_wrap{width: 100%; position: relative;}

/* gnb */
#gnb_wrap{width: 100%; position: absolute; z-index: 100;}
#gnb_wrap #gnb{width: 1226px; height: 88px; margin: 0 auto; line-height: 88px; overflow: hidden;}
#gnb_wrap #gnb .main_title{width: 56px; overflow: hidden; margin-left: 20px; display: inline-block;}
#gnb_wrap #gnb .main_title img{margin-left: -56px;}
#gnb_wrap #gnb .gnb_content{float: right;}
#gnb_wrap #gnb .gnb_content li{float: left; font: 14px AppleGothic,"Malgun Gothic",sans-serif; line-height: 88px;  margin: 0 25px; font-weight: bold;}
#gnb_wrap #gnb .gnb_content li a{color: white; cursor: default;}

#gnb_wrap .gnb_list{width: 100%; height: 242px;}
#gnb_wrap .gnb_list ul{display: none; position: relative;}
#gnb_wrap .gnb_list ul.on{display: block; width: 1226px; height: 242px; margin: 0 auto;}
#gnb_wrap .gnb_list ul li{width: 140px; height: 170px; display: inline-block; position: absolute; top: 35;}
#gnb_wrap .gnb_list ul li p{width: 140px; text-align: center; margin-top: 14px;}

/* image */
#image_wrap{width: 100%; position: relative;}
#image_wrap .left_btn{position: absolute; top: 330px; left: 55px; z-index: 50; display: inline-block; width: 40px; height: 59px; background: url('../images/main/icon-slide-nav1.png') no-repeat; text-indent: -9999px;}
#image_wrap .right_btn{position: absolute; top: 330px; right: 55px; z-index: 50; display: inline-block; width: 40px; height: 59px; background: url('../images/main/icon-slide-nav1.png') no-repeat -40px 0; text-indent: -9999px;}

#image_wrap li{width: 100%; height: 770px;}
#image_wrap li.image_list0{position: relative; background: url('../images/main/20190415105231.jpg') no-repeat center; z-index: 10;}
#image_wrap li.image_list1{position: absolute; background: url('../images/main/Pocophone.jpg') no-repeat center; top: 0; left: 0;}
#image_wrap li.image_list2{position: absolute; background: url('../images/main/1920_770scooter.jpg') no-repeat center; top: 0; left: 0;}

#image_wrap li .image_content{position: absolute; top: 250px; right: 50%;}
#image_wrap li .image_content h3{font-size: 55px; color: white; font-weight: 100;}
#image_wrap li .image_content p{font-size: 16px; color: white; margin: 20px 0 50px; letter-spacing: 1px; line-height: 110%;}
#image_wrap li .image_content p{font-size: 16px; color: white; margin: 20px 0 50px; letter-spacing: 1px; line-height: 110%;}
#image_wrap li.image_list2 .image_content p{line-height: 250%;}

#image_wrap li .image_content a{display: inline-block; border: 1px solid white; font-size: 16px; width: 220px; height: 38px; line-height: 38px; text-align: center; color: white;}

section{width: 1226px; margin: 80px auto 0;}
section .content_title{text-align: center; margin-bottom: 50px;}
section .content_title span{display: inline-block; width: 38%; height: 0; border-top: 1px solid #d0d0d0; text-indent: -9999px;}
section .content_title h2{display: inline-block; margin: 0 45px; color: #6e5959; font-size: 30px;}

#section0{width: 100%; margin: 0 auto; text-align: center;}
#section0 img{margin: 15px 5px 0;}
#section0 a:first-child img{margin-left: 0}
#section0 a:last-child img{margin-right: 0}

#section1 .content>div:first-child{float: left; margin-right: 2px;}
#section1 .content>div>div:first-child{float: left; margin-right: 2px;}
#section1 .content>div>div{margin-bottom: 2px;}

#section2{text-align: center;}
#section2 img{margin: 15px 5px 0;}
#section2 a:first-child img{margin-left: 0}
#section2 a:last-child img{margin-right: 0}

#top_wrap{width: 100%; height: 40px; background-color: #212121;}

footer{width: 100%; height: 400px; background-color: #212121;}

@media all and (max-width:1226px){ 
    #top_wrap #top_menu{width: 100%;}

    #gnb_wrap #gnb{width: 100%; position: relative;}
    #gnb_wrap #gnb .gnb_content{float: none; position: absolute; top: 0; right: 0;}
}/*1100*/